@model CRUDList.Models.Task

@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@{
    var actionType = "string";
    if (ViewBag.Type=="Edit")
    {
        actionType = "edit";
    }

    else
    {
        actionType = "create";
    }
}
    <form asp-controller="home" asp-action=@actionType method="post" class="mt-3">
        <div class="form-group row">
            <label asp-for="@Model.Title" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="@Model.Title" class="form-control" placeholder="Name">
                <span asp-validation-for=@Model.Title></span>

            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="@Model.Description" class="form-control" placeholder="Email">
                <span asp-validation-for=@Model.Description></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.Priority" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="@Model.Priority" class="custom-select mr-sm-2"
                        asp-items="Html.GetEnumSelectList<Priority>()"></select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.Priority" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="@Model.Status" class="custom-select mr-sm-2"
                        asp-items="Html.GetEnumSelectList<Status>()"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>